h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: left;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: medium;
}

.btn {
  display: block;
}

.sidebar {
  float:left;
  width: 200px;
  height:100%;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 15px;
  background-color: dimgray;
  color: white;
}

.sidebar a {
  text-align: center;
  color: white;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: dimgray;
}

p {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  margin-left: 200px;
}

li {
  list-style: none;
}

#result {
  display: none;
}